body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: rgb(245, 245, 245);

    font-family: Arial, Helvetica, sans-serif;
}

form{
  width: 100%;
  background: white;
  width: 90%;
  position: absolute;
  left: 1rem;
  right: 1rem;
  height: auto;
  margin-top: 3rem;
}
label{
margin-top: 2rem;
}
input{
  background-color: #E8ECF5;
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: none;
color: #176FB4;
}
label{
  margin-top: 2rem;
}
label, input{
  margin-left: 1rem;

  outline: none;
}

h4{
  font-size: 2rem;
}
button{
  background-color: #E8ECF5;
width: 80%;
padding: 12px;
border-radius: 10px;
border: none;
color: #176FB4;
}
button img{
width: 2rem;
height: 2rem;
}
#btnLogin{
  width: 80%;
  height: auto;
  margin-top: 2rem;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(10, 128, 236);
  
  color: white;
  
}
a{
  text-decoration: none;
  color: #000;
}